<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thêm mới sách</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

</head>
<body style="background-color: #333">
    <section class="container my-3 bg-white">
        <form action="#" th:action="@{/books/new}" method="post" th:object="${books}" enctype="multipart/form-data">
            <input type="hidden" name="id" th:if="${books.id != null }" th:value="${books.id}"/>
            <div class="card">
                <div class="card-header">
                    </div>
                <div class="card-body">
                    <label for="code" class="col-sm-2 col-form-label">Code:</label>
                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <input type="text" th:field="*{code}" id="code" class="form-control" placeholder="Book code">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="name" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="Book name">
                            <span></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="imgUrl" class="col-sm-2 col-form-label">Image:</label>
                        <div class="col-sm-10">
                            <input type="file" th:field="*{imgUrl}" id="imgUrl" class="form-control" placeholder="Book Image">
                            <span></span>
                            <input type="hidden" th:field="*{imgUrl}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="description" class="col-sm-2 col-form-label">Description:</label>
                        <div class="col-sm-10">
                            <textarea th:field="*{description}" id="description" class="form-control" rows="2"></textarea>
                            <span></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="quantity" class="col-sm-2 col-form-label">Quantity:</label>
                        <div class="col-sm-10">
                            <input type="number" th:field="*{name}" id="quantity" class="form-control" placeholder="Book quantity">
                            <span></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="price" class="col-sm-2 col-form-label">Quantity:</label>
                        <div class="col-sm-10">
                            <input type="number" th:field="*{price}" id="price" class="form-control" placeholder="Book price">
                            <span></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Tác giả:</label>
                        <div class="col-sm-10">
                            <div th:each="author:${authors}" class="form-check">
                                <input type="checkbox" name="authorIds"
                                       th:value="${author.id}"
                                       th:checked="${books.authors.contains(author)}">
                                <label th:text="${author.getName()}">Author Name</label>

                                <!-- Radio button để chọn chủ biên -->
                                <input type="radio" name="editorId"
                                       th:value="${author.id}"
                                       th:checked="${books.authors.contains(author) and author.isEditor()}"
                                       class="ms-2">
                                <label>Chủ biên</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="isActive" class="col-sm-2 col-form-label">Active:</label>
                        <div class="col-sm-10">
                            <input type="checkbox" th:checked="${books.isActive != null ? 'True' : 'False'}"
                                   th:field="*{isActive}" id="isActive">
                            <span th:text="${books.isActive == true ? 'Hoạt Động' : 'Khóa'}" >Hoạt động: </span>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" th:text="${books.id != null ? 'Update' : 'Create'}"> Save </button>
                    <a th:href="@{/books}" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </form>
    </section>
</body>
</html>
